.banner-certifica {
  background: url("../../dist/img/banner-certificacoes.png") center no-repeat;
  background-position: -550px !important;
}

.certifica-text {
  color: #8b97a2;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
}

.separator {
  width: 48px;
  height: 3px;
  background-color: #ffffff;
  // margin-left: 96px;
  margin-bottom: 23px;
}

.certifica-logo {
  background-size: contain;
  height: 140px;
  width: 140px;
}

.certifica-1 {
  background: url("../../dist/img/isologo.png") center center no-repeat;
  background-size: contain;
  height: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100px;
}

.certifica-2 {
  background: url("../../dist/img/policia-civil.png") center center no-repeat;
  background-size: contain;
  height: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100px;
}

.certifica-3 {
  background: url("../../dist/img/policia-federal-.png") center center no-repeat;
}

.certifica-4 {
  background: url("../../dist/img/anvisa.png") center center no-repeat;
}

.certifica-5 {
  background: url("../../dist/img/exercito-br.png") center center no-repeat;
}

.certifica-carousel-desktop {
  .box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 323px;
    height: 223px;
    margin: 0 auto;
  }

  @media (min-width: map-get($grid-breakpoints, md)) {
    .box {
      margin: 0 0 0 auto;
    }
  }
}

@media (min-width: 768px) {
  .desk-detail {
    height: 220px;
    position: absolute;
    width: 100%;
    top: -220px;
    z-index: -2;
  }
}
