.banner-contato {
  background: url("../../dist/img/banner-contato.png") center no-repeat;
  background-position-x: -423px !important;
  @media (min-width: map-get($grid-breakpoints, md)) {
    background-position: center center !important;
  }
}

.contato-form-header {
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    color: #0c294b;
    font-size: 20px !important;
    letter-spacing: 3.6px;
    line-height: 68px;
    font-weight: 600;
    text-transform: uppercase;
  }

  i {
    color: #d4d6d8;
  }
}

.detail-title-contato {
  position: relative;
  top: -2px;
  width: 178px;
  height: 5px;
  background-color: #eeb407;
  margin: 0 auto;
}

.contato-text {
  color: #8b97a2;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  padding-left: 165px;
  margin-bottom: 93px;
}

// FORM

.contato-field {
  height: 30px;

  border: none;
  padding: 1.3rem 1rem;
  font-weight: 600;
  color: $blue;
  width: 100%;
  margin: 0.5rem 0;

  border: 1px solid #cccccc;

  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 18px;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 18px;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 18px;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    font-size: 18px;
  }
}

textarea {
  height: 150px !important;
}

.contato-field::placeholder {
  font-weight: 600;

  color: $blue;
}

.btn-contato {
  width: 180px;
  height: 50px;
  background-color: #eeb407;
  border: none;
  color: #555c62;
  font-size: 16px;
  font-weight: 600;
  margin: 0 auto;
}

.detail-form {
  width: 170px;
  height: 5px;
  background-color: #eeb407;
  position: relative;
  top: -27px;
  margin: 0 auto;
}
