ul,
li {
  list-style: none;
  padding: 0;
}

.footer-address {
  color: $blue !important;
}

.menu-footer li a,
.footer-address p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 600 !important;
  color: #555c62;
}

@media (min-width: 500px) {
  .menu-footer li a,
  p,
  .footer-address {
    font-size: 18px;
    font-weight: 400 !important;
  }
}

.size28 {
  font-size: 28px;
}

.size28 span {
  font-size: 20px;
  font-weight: 400;
}

.icon-yellow {
  color: #eeb407;
}

.news-footer-text {
  width: 254px;
  height: 70px;

  align-items: center;
  display: flex;
  justify-content: center;
}

.news-footer-detail {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c294b;
}

.footer-text {
  color: #8b97a2;
  font-size: 16px;
}
