.banner-frota {
  background: url("../../dist/img/banner-frota.png") center no-repeat;
  background-size: cover;
}

.frota-text {
  color: #8b97a2;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  padding-left: 165px;
  padding-right: 165px;
  margin-bottom: 93px;
}

.frota-img-1 {
  background: url("../../dist/img/truck-icon-box.png");
  margin-bottom: 20px;
  background-size: cover;
  height: 46px;
  max-width: 62px;
}

.frota-img-2 {
  background: url("../../dist/img/icon-truck.png");
  margin-bottom: 20px;
  background-size: cover;
  height: 46px;
  max-width: 52px;
}

.frota-detalhe {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 51px;
  height: 3px;
  background-color: #d4d6d8;
}

.frota-item {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 44px;
  padding-right: 44px;
}

@media (min-width: 500px) {
  .frota-item {
    align-items: flex-start;
    padding-left: 260px;
  }
  .md-frota-style {
    width: 602px;
    height: 280px;
  }
}

.frota-item span {
  font-size: 16px;
  font-weight: 400;
}

.frota-img-4 {
  background: url("../../dist/img/foto-frota-1.png");
  width: 314px;
  height: 228px;
  background-size: cover;
  margin-left: 61px;
  margin-bottom: 59px;
}

@media (min-width: 500px) {
  .frota-img-4 {
    width: 554px;
    height: 333px;
    margin: 0;
    position: relative;
    top: -155px;
  }
  .margin-md-frota {
    margin-bottom: 200px;
  }
  .h1-md-frota {
    position: relative;
    top: -100px;
    left: -200px;
  }
  .position-div {
    position: relative;
    top: -100px;
  }
}

.frota-info h3 {
  color: #0c294b;
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  margin-bottom: 20px;
}

.frota-info p {
  color: #555c62;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 40px;
}

.margin-correction {
  margin-bottom: -60px;
}
