*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.header-space {
  height: 70px;
}

header {
  @extend .shadow;
  width: 100%;
  z-index: 1000;
  background: #fff;

  label .menu {
    position: fixed;
    right: 0;
    top: 13px;
    z-index: 100;
    width: 53px;
    height: 53px;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    box-shadow: 0 0 0 0 #0c294b, 0 0 0 0 #0c294b;
    cursor: pointer;
    background: #fff;
  }

  label .hamburger {
    position: absolute;
    top: 25px;
    right: 11px;
    width: 30px;
    height: 2px;

    background: $blue;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  label .hamburger:after,
  label .hamburger:before {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: $blue;
  }

  label .hamburger:before {
    top: -10px;
  }

  label .hamburger:after {
    bottom: -10px;
  }

  label input {
    display: none;
  }

  label input:checked + .menu {
    box-shadow: 0vw 0 0 100vw #0c294b, 0 0 0 100vh #0c294b;
    border-radius: 0;
    background: $blue;
    overflow: hidden;
    z-index: 100000;
  }

  label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
  }

  label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
    background: #fff;
  }

  label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
    background: $blue;
  }

  label input:checked + .menu + ul {
    opacity: 1;
    display: block;
  }

  label ul {
    z-index: 200000;
    position: fixed;
    width: fit-content;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    display: none;
    -webkit-transition: 0.75s 0s ease-in-out;
    transition: 0.75s 0s ease-in-out;
  }

  label a {
    margin-bottom: 1em;
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    margin-bottom: 18px;
    text-decoration: none !important;
    outline: none !important;

    i {
      margin-right: 28px;
      color: $yellow;
    }
  }

  @media (min-width: map-get($grid-breakpoints, md)) {
    label {
      a {
        font-size: 20px;
      }
      .menu {
        background: $blue;
        width: 60px;
        height: 113px;
      }

      .hamburger {
        right: 16px;
        top: 4rem;
      }

      .hamburger,
      .hamburger:after,
      .hamburger:before {
        background: #fff;
      }
    }

    box-shadow: none !important;

    .header-space {
      height: 86px;
    }
  }

  .blue-bar {
    @extend .bg-blue;
    transform: rotate(270deg) translate(0, -100%);
    transform-origin: 100% 0;
    position: fixed;
    right: 0;
    top: 3.5rem;
    height: 60px;
    width: 94.6vh;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;

    i {
      font-size: 28px;
      transform: rotate(-270deg);
    }

    a {
      color: #fff;
      font-weight: 600;
    }
  }
}

.heading-scroll {
  @extend .shadow;
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  header {
    padding: 3rem 0;
    background: transparent;

    .menu {
      top: 0 !important;
    }

    .dropdown-item {
      font-size: 17px !important;
    }

    label input:checked + .menu {
      box-shadow: 0vw 0 0 24rem #0c294b, 0 0 0 10vw #0c294b;
      border-radius: 0;
      background: $blue;
      overflow: hidden;
      z-index: 100000;
    }

    label ul {
      top: 16rem;
      left: initial;
      right: 0;
    }
  }

  .heading-scroll {
    padding: 1rem 0 0;
    background: #fff;
  }

  .header-space {
    height: 86px;
  }

  body {
    padding-right: 60px;
  }
}
