.bg-home {
  background: url(../img/banner-home-m.png) center center no-repeat;
  background-size: cover !important;
  height: 570px;
}

.services {
  background: $blue;
  padding: 40px 0;

  h2 {
    margin-top: 22px;
    color: #fff;
  }

  .item {
    margin: 30px 0;

    p {
      color: #fff;
    }

    h3 {
      font-weight: 500;
      margin-bottom: 0;
      margin: 18px 0;
      color: #fff;
    }
  }

  .text {
    color: #fff;
  }
}

.atuation {
  background: $yellow;
  padding: 40px 0;

  .item {
    padding: 3rem 3rem;

    .num {
      color: #fff;
      font-size: 28px;
      font-weight: 600;
    }

    h3 {
      font-weight: 600;
      margin: 17px 0 30px;
      color: $blue;
    }

    a {
      color: $grey;
      font-weight: 600;

      i {
        margin-left: 0.5rem;
      }
    }

    p {
      color: $grey;
      margin-bottom: 2rem;
      font-weight: 600 !important;
    }

    &:hover {
      background: $yellow;
    }
  }
}

.certifications {
  .item {
    margin: 1rem 0;
  }
}

.request {
  background: url(../img/bg-request-mobile.png) center center no-repeat;
  background-size: cover !important;
  height: 571px;
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .bg-home {
    background: url(../img/banner-home-d.png) center center no-repeat;
    height: 735px;

    h1 {
      font-size: 56px;
    }
  }

  .services {
    h2,
    h3 {
      color: #fff !important;
    }

    h3 {
      margin: 2rem 0 !important;
    }

    p {
      color: $lgrey !important;
    }

    .img-item {
      height: 79px;

      img {
      }
    }

    .text {
      color: $lgrey;
    }
  }

  .atuation {
    background: #fff;

    .item {
      height: 552px;
      align-items: center;
      display: flex;
      flex-wrap: wrap;

      &:nth-child(-n + 3) {
        border-right: 1px solid #cccccc;
      }

      .num {
        color: $lgrey;
      }

      a {
        opacity: 0;
      }
      transition: 0.2s;

      h3 {
        font-size: 34px;
      }

      &:hover {
        background: $yellow;

        a {
          opacity: 1;
        }

        .num {
          color: #fff;
        }
      }
    }
  }

  .request {
    background: url(../img/bg-request-desktop.png) center center no-repeat;

    height: 284px;

    .container {
      max-width: initial;
      padding: initial;
    }

    h2 {
      font-size: 35px !important;
    }
  }

  .map {
    h2 {
      font-size: 36px !important;
    }
  }
}
