.transport-services {
  background: url(../img/banner-servicos-transporte.png);
  background-position-x: -526px !important;
  @media (min-width: map-get($grid-breakpoints, md)) {
    background-position: center center !important;
  }
}
