.banner-sobre {
  background: url("../../dist/img/banner-sobre.png") center center no-repeat;
  background-size: cover;
}

.titulo-missao {
  font-size: 32px;
  line-height: 44px;
  font-weight: 600;
}

.section-1 {
  font-size: 16px;
  font-weight: 600;
}

.img-sobre-1 {
  width: 515px;
  height: 510px;
}

@media (min-width: 500px) {
  .missao-md {
    width: 400px;
    height: 359px;
    background-color: #eeb407;
    position: relative;
    right: -50px;
    top: 50px;
    z-index: 200;
  }
  .missao-img {
    width: 450px;
    position: relative;
    right: 100px;
  }
}

@media (min-width: 500px) {
  .valores-img {
    width: 550px;

    position: relative;
    left: 50px;
  }
  .valores-md {
    width: fit-content;
    position: relative;
    left: -100px;
    top: 80px;
    z-index: 200;
  }
  .p-valores {
    width: 449px !important;
    height: 209px;
    font-size: 18px !important;
    font-weight: 400;
    line-height: 30px;
  }
}

.p-valores {
  width: 250px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.img-sobre-3 {
  background: url("../../dist/img/foto-sobre-3.png") no-repeat;
  background-size: cover;
  height: 230px;
  background-position-y: -30px;
}

.banner-sobre-mobile {
  background: url("../../dist/img/banner-1-mobile.png") center center no-repeat;
  background-size: cover;
  height: 591px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 280px;
}

@media (min-width: 500px) {
  .banner-sobre-mobile {
    background: url("../../dist/img/banner-1.png") center center no-repeat;
    background-color: #0c294b;
    background-position-x: -60px;
    background-size: cover;
    width: 100%;
    height: 284px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0;

    h1 {
      width: 456px;
      height: 99px;
      font-size: 36px;
      font-weight: 600;
      line-height: 48px;
      margin-right: 80px;
      text-align: left;
    }
  }
}

.btn-sobre {
  width: 243px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555c62;
  font-size: 16px;
  letter-spacing: 0.32px;
  font-weight: 600;
}

.nav-sobre {
  display: flex;
  justify-content: center;

  a {
    color: #d4d6d8;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3.6px;
    line-height: 68px;
    text-transform: uppercase;
  }
}

@media (max-width: 768px) {
  .nav-sobre {
    display: row;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.active {
  color: #0c294b !important;
}

.carBtn {
  position: relative;
  padding: 0;
  z-index: 1000;
}

.prev-form {
  position: absolute;
  top: 5px;
  left: 0px;
  padding: 5px 15px;
}

.next-form {
  position: absolute;
  top: 10px;
  right: 15px;
}
