.banner-trabalhe-conosco {
  background: url("../../dist/img/banner-trabalhe-conosco.png");

  background-position-x: -142px !important ;

  @media (min-width: map-get($grid-breakpoints, md)) {
    background-position: center center !important;
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .container {
    h3 {
      font-size: 18px !important;
    }
  }
}

.margin-center {
  margin: 0 auto;
}
