@import "../../node_modules/bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

$grey: #555c62;
$blue: #0c294b;
$yellow: #eeb407;
$lgrey: #8b97a2;
$llgrey: #d4d6d8;

.color-grey {
  color: $grey;
}

.color-blue {
  color: $blue !important;
}

.color-yellow {
  color: $yellow !important;
}

.color-lgrey {
  color: $lgrey;
}

.color-llgrey {
  color: $llgrey;
}

.bg-grey {
  background: $grey;
}

.bg-blue {
  background: $blue !important;
}

.bg-yellow {
  background: $yellow;
}

.bg-lgrey {
  background: $lgrey;
}

.bg-llgrey {
  background: $llgrey;
}

.pr-bar {
  padding-right: 101px;
}

.btn-yellow {
  background: $yellow;
  color: $blue;
  padding: 14.5px 45px;
}

.controls-carousel {
  font-size: 46px;
}

.dots button {
  border-radius: 100%;
  background: #fff;
  width: 6px;
  padding: 0;
  margin-right: 0.4rem;
  height: 6px;
  border: 0;
  opacity: 0.6;

  &.tns-nav-active {
    opacity: 1;
  }
}

#breadcrumbs {
  color: $grey;

  a {
    color: $grey;
  }
}

img {
  @extend .img-fluid;
}

p {
  font-weight: 400 !important;
}

a {
  border: 0;
  width: fit-content;
  outline: none !important;
  text-decoration: none !important;

  &:hover {
    opacity: 0.8;
    outline: none !important;
    text-decoration: none !important;
  }
}

.pb-6 {
  padding-bottom: 6rem;
}

.card {
  cursor: pointer;
}

h1 {
  font-weight: 600;
  font-size: 32px;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

@media (min-width: map-get($grid-breakpoints, md)) {
  h2 {
    font-size: 36px !important;
  }

  h3 {
    font-size: 22px !important;
  }
}

.w-84 {
  width: 84px;
}

.top-0 {
  top: 0;
}

.bg-orange {
  background: $orange;
}
.color-yellow {
  color: $orange;
}

.color-orange {
  color: $orange !important;
}

.color-lgrey {
  color: $lgrey;
}
.linkblog {
  color: $lgrey;
  &:hover {
    color: $orange;
  }
}
#materiaNav,
#dicasNav {
  text-align: center;
  margin: 1.5rem 0;

  button {
    outline: none;
    border: 0;
    background: none;

    i {
      background: $orange;
      border-radius: 100%;
      padding: 1rem;
      color: #fff;
    }

    &.disabled {
      i {
        background: #cbcbcb;
      }
    }
  }
}

#materiaDots {
  display: flex;
  justify-content: start;
  align-items: center;

  button {
    outline: none;
    border: 0;

    background: #cbcbcb;
    border-radius: 100%;
    padding: 0.2rem;
    margin: 0 0.4rem;
    color: #fff;

    &.active {
      background: $orange;
    }
  }
}

.btn-orange {
  background: $orange;
  padding: 1rem 4rem;
  @extend .rounded-pill;
  color: #fff;

  &:hover {
    opacity: 0.7;
    color: #fff;
  }
}

.bg-fff {
  background: #fff !important;
}

.banner {
  height: 402px;
  background-size: cover !important;
  background-position: center center !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat !important;
  margin-top: 80px;

  p {
    font-size: 16px;
    font-weight: 600 !important;
    text-align: center;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .banner {
    align-items: flex-start;
    justify-content: flex-end;
    padding-bottom: 81px;
    padding-left: 165px;

    h1 {
      font-size: 50px;
    }

    span {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      color: #555c62;
    }
  }

  .position-md-absolute {
    position: absolute;
  }
}

.fit-center {
  width: fit-content;
  margin: 0 auto;
}

.z-indexx {
  z-index: 50;
}

.icon-wpp {
  background: $blue;
  border-radius: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  z-index: 100;
  right: 1rem;

  bottom: 1rem;
}

@import "contato", "footer", "frota", "header", "home", "sobre", "trabalhe-conosco", "tiny-carousel", "certificacoes",
  "servicos-de-transporte";
